<div class="container">
<o-form service="users" entity="user" keys="user_" header-actions="R;U" show-header-navigation="yes" label-header="Profile" label-header-align="start">  
  <o-row>
    <o-column fxFlex>
      <o-row>
        <o-text-input attr="user_" label="User name" required="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-text-input class="input-padding" attr="name" label="Name" required="yes" fxFlex="40"></o-text-input>
        <o-text-input class="input-padding" attr="surname" label="Surname" required="yes" fxFlex="40"></o-text-input>
      </o-row>
      <o-row>
        <o-email-input attr="email" class="input-padding" label="Email" read-only="no" required="no" fxFlex="40"></o-email-input>
        <o-password-input attr="password" class="input-padding" label="Password" read-only="no" required="yes" enabled="no" fxFlex="40"></o-password-input>        
      </o-row>
    </o-column>
  </o-row>
</o-form>
</div>