<mat-card *ngIf="discData"> 
  <mat-card-header>
    <mat-card-title><strong><h1>MusicBox</h1></strong></mat-card-title>
    <mat-card-title><h2>{{[discName]}}</h2></mat-card-title>
  </mat-card-header>

  <img mat-card-image class="pic" src="{{[discImageRoute] + [discId] + '.jpg'}}">
  
  <mat-card-content >    
    <p><strong>Artist: </strong>{{[artistNameShow]}}</p>    
  </mat-card-content>
  <mat-card-content >    
    <p><strong>Gender: </strong>{{[genderNameOfDisc]}}</p>    
  </mat-card-content>
  <mat-card-content >    
    <p><strong>Produced by: </strong>{{[discProducer]}}</p>    
  </mat-card-content>


<mat-selection-list #songs >
  <mat-card-title><h5>Tracklist</h5></mat-card-title>

  <mat-list-option *ngFor="let song of arrayOfSongs" [value]="song" 
  [routerLink]= "[routerSong, song['id_song']]" style="text-decoration:none">
    <img matListAvatar src="{{[discImageRoute] + [ifDiscForSongs] + '.jpg'}}" alt="Foto">    
    {{song['song_name']}}    
  </mat-list-option>  
</mat-selection-list>

  <!--<mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>-->

</mat-card>


