::ng-deep.mat-pseudo-checkbox{
    display: none !important;
  }
  
mat-card{
    height: 100%;
}

mat-card-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

 mat-card img.pic{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 50%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: auto;
    padding-left: 32px;
}

mat-card h5{
    font-size: medium;
    padding-left: 10px;
}

p{
    padding-left: 10px;
    width: 590px;
}
