<mat-card *ngIf="artistData">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title title="">{{[artistName]}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{[artistImageRoute] + [artistId] + '.jpg'}}">
  <mat-card-content >    
      <p>{{[artistBio]}}</p>    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-selection-list #discs checkbox="hiden">
  <mat-list-option *ngFor="let disc of arrayOfDiscs" [value]="disc">
    <img matListAvatar src="" alt="Foto">    
    {{disc}}    
  </mat-list-option>  
</mat-selection-list>
