<mat-card *ngIf="listData">
  <mat-card-header>
    <mat-card-title><strong><h1>MusicBox</h1></strong></mat-card-title>    
    <mat-card-title><h2>{{listData['list_name']}}</h2></mat-card-title>
  </mat-card-header>
  
<mat-selection-list>
  <mat-card-title><h5>Tracklist</h5></mat-card-title>

  <mat-list-option *ngFor="let song of songs" [value]="song" style="text-decoration:none">
    <img matListAvatar src="{{[discImageRoute] + song['id_disc'] + '.jpg'}}" alt="Photo">    
        {{song['song_name']}}
    <p>Artist: {{song['artist_name']}}</p>   
  </mat-list-option>

</mat-selection-list>
</mat-card>