<mat-card *ngIf="songData">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title><h2>{{[songName]}}</h2></mat-card-title>
  </mat-card-header>
  <img mat-card-avatar src="{{[discImageRoute] + [test] + '.jpg'}}">
  <mat-card-content >    
    <p><strong>Length: </strong>{{[songLength]}}</p>    
  </mat-card-content>
  <mat-card-content >    
    <p><strong>Disc: </strong>{{[songDisc]}}</p>    
  </mat-card-content>
  <mat-card-content >    
    <p><strong>Artist: </strong>{{[songArtist]}}</p>    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
