mat-card{
    height: 100vh;
}

mat-card-content {
    padding-left: 10px;
}

mat-card img.pic{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 25%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: auto;
    padding-left: 32px;
}


.butt{ 
    padding-left: 0;
    /* padding-right: 0; */   
    height: 40px;
}
