<o-column title=" " layout-align="start center">
  <o-form editable-detail="false" show-header="no">
    <o-row>
      <o-radio attr="Search:" label="Search:" label-visible="false" (onValueChange)="radioValue($event.target.value)"
        [static-data]="arrayRadioValues" value-column="key" columns="key;value"
        visible-columns="value" read-only="no" required="yes" layout="row">
      </o-radio>
    </o-row>
  
    <o-text-input attr="input2" label="Input search" [data]="" read-only="no" required="yes"
    clear-button="yes" (onValueChange)="textValue($event)">
    </o-text-input>
  </o-form>
  
  <o-list *ngIf="result && result.length > 0" #list keys="id" columns="id_artist;artist_name; artist_bio;artist_photo" [static-data]="result"
      title="{{inputSearchValue}}" quick-filter="false" 
      refresh-button="false" insert-button="false" insert-button-position="bottom"
      insert-button-floatable="false" delete-button="false"
      selectable="false" dense="false" detail-button-in-row="true"
      detail-button-in-row-icon="chevron_right" edit-button-in-row="false"
      edit-button-in-row-icon="edit" detail-mode="none">      
        <mat-card *ngFor="let row of list.dataArray">                
            <mat-card-header>
              <a [routerLink]='[routerOption, row[fieldListKey]]'>
                <div mat-card-avatar>
                  <img matListAvatar fxFill src= "{{[routeImage] + row[fieldListKey] + '.jpg'}}" >
                </div>
              </a>
              <div title="{{ row[fieldName] }}"></div>
              <mat-card-title >{{row[fieldName]}}</mat-card-title>           
              <!--<mat-card-actions>
                  <button mat-button>Show</button>
              </mat-card-actions>-->
            </mat-card-header>              
          </mat-card>       
        </o-list>  
      </o-column>