::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}

.bg {
  background-color: darkred;
}

mat-card-title {
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.radio{
  padding-top: 8px;
  padding-right: 20px;
}

.input-text{
  padding-top: 6px;
}

.mat-pseudo-checkbox{
  display: none;
}

.search{
  z-index: 2;
  position: fixed;
}

//carousel
.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}
