<!-- emplear formulario normal para crear nueva entidades -->
<!-- <label id="search-radio-group-label"> select a option</label>
<mat-radio-group aria-labelledby="search-radio-group-label" class="search-radio-group" [(ngModel)]="radioSelected">
  <mat-radio-button class="search-radio-button" *ngFor="let selectOption of selectOptions" [value]="selectOption">
    {{selectOption}}
  </mat-radio-button>
</mat-radio-group> -->

<!-- <form> -->
<div fxFlex>
  <label id="radioSelected"> select a option</label>
  <mat-radio-group aria-label="radioSelected" name="radioSelected">
    <mat-radio-button value="artist_name" (click)='radioValue("artist_name")'>{{ "ARTIST" | oTranslate }}
    </mat-radio-button>
    <mat-radio-button value="disc_name" (click)='radioValue("disc_name")'>{{ "DISC" | oTranslate }}</mat-radio-button>
    <mat-radio-button value="song_name" (click)='radioValue("song_name")'>{{ "SONG" | oTranslate }}</mat-radio-button>
    <!-- Falta implementar esta opción  -->
  </mat-radio-group>
  <span *ngIf="contador > 0 && !startSearch ">Seleccionar Radio</span>
  <br>
  <mat-form-field class="example-full-width" floatLabel="auto" hideReuiredMarker appearance="fill">
    <mat-label>Search</mat-label>
    <!-- <input matInput required type="text" (keyup)='myFunc(inputSearch.value)' [(ngModel)]='inputSearch' name="inputSearch"> -->
    <input matInput required type="text" (keyup)='inputTextvalue($event)' name="inputSearch">
    <!-- <mat-hit align="end"> only leters and nambers </mat-hit> -->
  </mat-form-field>
  <span *ngIf="contador > 0 && inputSearchValue.length < 3">Introducir tres caracteres Radio</span>


  <div>radio selectOption : {{radioSelectedValue}} </div>

  <div>inputText : {{inputSearchValue}} </div>

  <div>contador : {{ contador }} </div>

  <div>Radio seleccionado : {{ startSearch }} </div>

  {{ result | json }}
</div>

<div fxFlex>
  <o-list #list attr="customerlist" title="artistSearch" keys="fieldListKey" columns="fieldsListSearch"
    query-on-init="false">
    <o-list-item *ngFor="let row of result">
      <o-list-item-avatar #item avatar = "{{[routeImage] + row.id_artist + '.jpg'}}"  title="{{ row[fieldName] }}"></o-list-item-avatar>
    </o-list-item>
  </o-list>
</div>


