    <o-form editable-detail="false" show-header="no">
      <o-row>
        <mat-card-title>MusicBox</mat-card-title>
        <o-radio attr="Search:" label="Search:" label-visible="false" (onValueChange)="radioValue($event.target.value)"
          [static-data]="arrayRadioValues" value-column="key" columns="key;value" visible-columns="value" read-only="no"
          required="yes" layout="row" class="radio">
        </o-radio>
        <o-text-input attr="input2" label="Input search" read-only="no" required="yes" clear-button="yes"
          (onValueChange)="textValue($event)" class="input-text">
        </o-text-input>
      </o-row>
    </o-form>

    <mat-selection-list>      
      <mat-list-option *ngFor="let item of result" [value]="result" [routerLink]='[routerOption, item[fieldListKey]]' >    
        <img matListAvatar src="{{[routeImage] + item[fieldListKey] + '.jpg'}}" alt="Photo">
        {{item[fieldName]}}      
      </mat-list-option>  
    </mat-selection-list> 
      

      
      